@using COMP2139_KRN_GENIUS.Models.ViewModels
@model IncidentViewModel
@{
    ViewData["Title"] = "Edit Incident";
}

<section id="edit">
    <div id="edit-page">
        <div class="edit-title">
            <h1>@Model.Action Incident</h1>
            <h6>To save the information of Incident, Click [ Save ]</h6>
        </div>
        <div class="edit-form">
            <form asp-action="Edit" method="POST">

                <div class="edit-input">
                    <label asp-for="Incident.CustomerId" class="form-label">Customer</label>
                    <select asp-for="Incident.CustomerId">
                        <option value="">Assign a customer..</option>
                        @foreach (var customer in Model.Customers)
                        {
                            if (Model.Incident.CustomerId == customer.CustomerId)
                            {
						        <option value="@customer.CustomerId" selected>@customer.FirstName @customer.LastName</option>
                            }
                            else
                            {
						        <option value="@customer.CustomerId">@customer.FirstName @customer.LastName</option>
                            }
                        }
                    </select><br>
                </div>
                
                <div class="edit-alert">
					@Html.ValidationMessage("Incident.CustomerId")
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.ProductId" class="form-label">Product</label>
                    <!-- dropdown Product -->
                    <select asp-for="Incident.ProductId">
                        <option value="">Assign a product..</option>
                        @foreach (var product in Model.Products)
                        {
                            if (Model.Incident.ProductId == product.ProductId)
                            {
						        <option value="@product.ProductId" selected>@product.Name</option>
                            }
                            else
                            {
						        <option value="@product.ProductId">@product.Name</option>
                            }
                        }
                    </select><br>
                </div>
                
                <div class="edit-alert">
					@Html.ValidationMessage("Incident.ProductId")
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.Title" class="form-label">Title</label>
                    <input asp-for="Incident.Title" type="text" class="form-control" value="@Model.Incident.Title"><br>
                </div>
                
                <div class="edit-alert">
					@Html.ValidationMessage("Incident.Title")
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.Description" class="form-label">Description</label>
                    <input asp-for="Incident.Description" type="text" class="form-control" value="@Model.Incident.Description"><br>
                </div>

                <div class="edit-alert">
					@Html.ValidationMessage("Incident.Description")
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.TechnicianId" class="form-label">Technician</label>
                    <select asp-for="Incident.TechnicianId">
                        <option value="">Assign a technician..</option>
                        @foreach (var technician in Model.Technicians)
                        {
                            if (Model.Incident.TechnicianId == technician.TechnicianId)
                            {
						        <option value="@technician.TechnicianId" selected>@technician.Name</option>
                            }
                            else
                            {
						        <option value="@technician.TechnicianId">@technician.Name</option>
                            }
                        }
                    </select><br>
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.DateOpened" class="form-label">Date Opened</label>
                    <input asp-for="Incident.DateOpened" type="datetime-local" class="form-control" value="@Model.Incident.DateOpened?.ToString("yyyy-MM-ddTHH:mm")"><br>
                </div>

                <div class="edit-alert">
					@Html.ValidationMessage("Incident.DateOpened")
                </div>

                <div class="edit-input">
                    <label asp-for="Incident.DateClosed" class="form-label">Date Closed</label>
                    <input asp-for="Incident.DateClosed" type="datetime-local" class="form-control" value="@Model.Incident.DateClosed?.ToString("yyyy-MM-ddTHH:mm")"><br>
                </div>

                <input type="hidden" asp-for="Incident.IncidentId"/>

                <div class="edit-btn">
                    <button class="edit-save" type="submit">Save</button>
                    <a asp-action="List">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>