@using COMP2139_KRN_GENIUS.Models.ViewModels
@model RegistrationViewModel
@{
    ViewData["Title"] = $"Delete Registration";
}

<section id="delete">
    <div id="delete-page">
        <div class="delete-title">
            <h1>Delete Registration</h1>
            <h6>! Please check the information that you're trying to delete !</h6>
        </div>
        <div class="delete-table">
            <table style="width: 1000px;">
                <thead>
                    <tr>
                        <th width="40%">Customer</th>
                        <th width="60%">Product</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Customers[0].FirstName @Model.Customers[0].LastName</td>
                        <td>@Model.Products[0].Name</td>
                    </tr>
                </tbody>
            </table>

            <div class="delete-form">
                <form asp-action="Delete" method="POST">
                    <input type="hidden" asp-for="Registration.CustomerId" />
                    <input type="hidden" asp-for="Registration.ProductId" />
                    <input type="hidden" asp-for="ProductName" value="@Model.Products[0].Name" />
                    <div class="delete-sec">
                        <h2>Are you sure?</h2>
                        <div class="delete-btn">
                            <button type="submit" class="delete-del">Delete</button>
                            <a asp-action="List" asp-route-id="@Model.Registration.CustomerId">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>